<!-- Blog Grid -->
<section class="bg-light page-section" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[layout.lang].blog.title | markdownify | default: "Blog" }} </h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[layout.lang].blog.text | markdownify }}
        {{ site.data.sitetext[layout.lang].lang }}</h3>
      </div>
    </div>
    <div class="row">
      {% assign locale_posts = site.posts | where: "lang", layout.lang | limit 4 | where_exp: "post", "post.caption_thumbnail != nil"%}
      {% assign base_en_posts = site.posts | where: "lang", "en" | where_exp: "post", "post.caption_thumbnail != nil" %}

      {% assign highlight_posts = locale_posts | concat: base_en_posts | uniq %}

      {% for post in highlight_posts limit: 3 %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#">
          <img class="img-fluid" src="{{ post.caption_thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h3>{{ post.title }}</h3>
          <p>{{ post.date | date: "%Y/%m/%d" }}</p>
          <p class="text-muted">{{ post.excerpt }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
