<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext[layout.lang].method.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[layout.lang].method.title | default: "About Us" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[layout.lang].method.text | default: "" }}</h3>
          <p> {{ site.data.sitetext[layout.lang].method.paragraph }}</p>
        </div>
      </div>
      {% for paragraph in site.data.sitetext[layout.lang].method.paragraphs %}
      <p class="text-muted"> {{ paragraph }}</p>
      {% endfor %}
      {% if site.data.sitetext[layout.lang].method.languages %}
      <br>
      <div class="row centered text-muted">
        <p><strong>{{ site.data.sitetext[layout.lang].method.language-list-desc }}:</strong></p>
          <ul class="info">
            {% for element in site.data.sitetext[layout.lang].method.languages %}
            <li>{{ element }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
  </section>
<!-- End About -->
